POSTGRES_CONTAINER_NAME=n8n_postgres
POSTGRES_USER=change_me_postgres_user
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=change_me_postgres_db

PGADMIN_CONTAINER_NAME=pgadmin_container_n8n
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin_password
PGADMIN_PORT=5050

N8N_CONTAINER_NAME=n8n
N8N_PORT=5678
N8N_BASIC_AUTH_USER=change_me_n8n_user
N8N_BASIC_AUTH_PASSWORD=change_me_n8n_password
N8N_ENCRYPTION_KEY=change_me_with_a_long_random_string
WEBHOOK_URL=https://your-current-tunnel.example.com
